{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <h2>Balance General</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-auto">
                <table class="table table-striped table-responsive">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Concepto</th>
                            <th>Débitos</th>
                            <th>Créditos</th>
                            <th>Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>01/05/2017</th>
                            <th>Acreditación proyecto</th>
                            <th>-----</th>
                            <th>10000</th>
                            <th>Detalle</th>
                        </tr>
                        <tr>
                            <th>08/06/2017</th>
                            <th>Gastos Proyecto 2510</th>
                            <th>3000</th>
                            <th>-----</th>
                            <th>Detalle</th>
                        </tr>
                        <tr>
                            <th>22/07/2017</th>
                            <th>Gastos Proyecto 4256 </th>
                            <th>4000</th>
                            <th>-----</th>
                            <th>Detalle</th>
                        </tr>
                        <tr>
                            <th>-----</th>
                            <th>Totales</th>
                            <th>-----</th>
                            <th>4000</th>
                            <th>-----</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
