{% extends 'base.html.twig' %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="page-header">
                    <h2>Balance General</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-auto">
                <table class="table table-striped table-responsive table-bordered">
                    <thead>
                        <tr>
                            <th>Concepto</th>
                            <th>Lugar</th>
                            <th>Fecha</th>
                            <th>Tipo Evento</th>
                            <th>Nombre Evento</th>
                            <th>Contratados</th>
                            <th>Cantidad Dias</th>
                            <th>Ejercicio</th>
                            <th>Observaciones</th>
                            <th>Contable</th>
                            <th>Nro. Nota</th>
                            <th>Fecha Revision</th>                          
                            <th>Debitos</th>
                            <th>Creditos</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>-------</th>
                            <th>-------</th>
                            <th>-------</th>
                            <th>-------</th>
                            <th>-------</th>
                            <th>-------</th>
                            <th>-------</th>
                            <th>-------</th>
                            <th>-------</th>
                            <th>-------</th>
                            <th>-------</th>
                            <th>-------</th>                          
                            <th>-------</th>
                            <th>-------</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}


